body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 4px;
}

.column1{width: 40%;}

.column2{width: 20%;}

.column3{width: 20%;}

.column4{width: 20%;}

th, td {
  padding: 12px 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

button {
  font-size: 16px;;
  background-color: #2385d4;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 24px;
  width: 100%;
  line-height: 1.5;
}

.styled-link {
  font-size: 16px;
  background-color: #4CAF50; 
  font-weight: bold;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 5px 24px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
  cursor: pointer;
}
.styled-link:hover {
  background-color:  #45a049; 
}
.button-container{
  display: flex;
  gap:10px;
  margin-bottom: 5px;
}
input[type="number"] {
  width: 70px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"]:checked {
  background-color: #2385d4;
  border-color: #2385d4;
}


@media (max-width: 768px) {
  .table-container {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }
  .button-container {
    flex-direction: column;
    gap: 5px;
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
  }

  th, td {
    min-width: 80px; 
    padding: 12px 8px;
    font-size: 14px;
  }

  td:first-child, th:first-child {
    width: 40%;
  }

  td:nth-child(2), th:nth-child(2) {
    width: 20%;
    min-width: 120px; 
  }
  td:nth-child(3), th:nth-child(3) {
    width: 20%;
    min-width: 120px; 
  }
  td:nth-child(4), th:nth-child(4) {
    width: 20%;
    min-width: 120px; 
  }
  
  td button {
      display: block;
      width: 100%;
      margin: 5px 0;
  }

  input[type="number"] {
    width: 80%;
    max-width: 80px;
    font-size: 16px;  
    padding: 8px 4px;
  }

  button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  .styled-link {
    font-size: 16px;
    background-color: #4CAF50; 
    font-weight: bold;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 24px;
    width: 85%;
  }
  
}
@media (min-width: 769px) and (max-width: 1024px) {
  .button-container {
    flex-direction: row;  
    gap: 15px;
  }

  button, .styled-link {
    font-size: 16px;
    padding: 12px 24px;  
    width: auto;  
  }

  .table-container {
    overflow-x: auto;  
  }

  th, td {
    font-size: 16px;  
  }
}